<!--div id="exampleModalLive" class="modal fade show" tabindex="-1" role="dialog" aria-labelledby="exampleModalLiveLabel" style="display: block; padding-right: 17px;" aria-modal="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLiveLabel">Parametry Pompy</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
                    <div class="row">

              <div class="col-md">
                <div class="input-group input-group-sm mb-1">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroup-sizing-sm" style="min-width: 210px">Kod Pompy</span>
                  </div>
                  <input type="text" class="form-control" value="DCH1-P1">
                </div>
              </div>
</div>
<div class="row">
              <div class="col-md">
                <div class="input-group input-group-sm mb-1">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroup-sizing-sm">Maksymalna moc pompowania</span>
                  </div>
                  <input type="text" class="form-control" >
                </div>
              </div>
</div>
<div class="row">
              <div class="col-md">
                <div class="input-group input-group-sm mb-1">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroup-sizing-sm" style="min-width:210px">Średnia sprawność pompy</span>
                  </div>
                  <input type="text" class="form-control" >
                </div>
              </div>
              
          </div>
          
      </div>
      <div class="modal-footer">
    <button type="button" class="btn btn-success">Zapisz</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Anuluj</button>
      </div>
    </div>
  </div>
</div-->
<div class="form-control">
  <br />
  <div class="row">
    <div class="col-sm"></div>
    <div class="col-sm"></div>
    <div class="col-sm"></div>
    <div class="col-sm">
      <button class="btn btn-sm btn-success">Dodaj nowy scenariusz</button>
    </div>

    <br />
    <br />
    <br />
    <br />
  </div>
  <div class="row">
    <div class="col-sm">
      <table class="table table-sm">
        <thead>
          <tr>
            <th scope="col">Nazwa</th>
            <th scope="col">Data od</th>
            <th scope="col">Data_do</th>
            <th scope="col">Autor</th>
            <th scope="col">Otwarty przez</th>
            <th scope="col">Data modyfikacji</th>
            <th scope="col">Akcje {{ scenariusze[0].name }}</th>
          </tr>
        </thead>

        <tbody>
          <tr *ngIf="true">
            <td>{{ scenariusze[0].name }}</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <br />
  <br />
</div>
