<div class="form-control">
  <br />
  <div class="row">
    <div class="col-sm">
      <div class="input-group input-group-sm mb-1">
        <div class="input-group-prepend">
          <span class="input-group-text" id="inputGroup-sizing-sm1"
            >Data od</span
          >
        </div>

        <input
          type="text"
          class="form-control"
          aria-describedby="inputGroup-sizing-sm1"
        />
      </div>
    </div>
    <div class="col-sm">
      <div class="input-group input-group-sm mb-1">
        <div class="input-group-prepend">
          <span class="input-group-text" id="inputGroup-sizing-sm1"
            >Data do</span>
        </div>
        <input
          type="text"
          class="form-control"
          placeholder=""
          aria-label="Sizing example input"
          aria-describedby="inputGroup-sizing-sm1"
        />
      </div>
    </div>
    <div class="col-sm">
      <button class="btn btn-sm btn-info">Pokaż</button>
    </div>
    <div class="col-sm">
      <button class="btn btn-sm btn-success">Dodaj nową Jednostkę</button>
    </div>

    <br />
    <br />
    <br />
    <br />
  </div>
  <div class="row">
    <div class="col-sm">
      <table class="table table-sm">
        <thead>
          <tr>
            <th scope="col">Akcje</th>
            <th scope="col">Nazwa</th>
            <th scope="col">Kod entsoe</th>
            <th scope="col">Typ</th>
            <th scope="col">Paliwo podstawowe</th>
            <th scope="col">Kod elektrowni</th>
            <th scope="col">Nazwa Elektrowni</th>
            <th scope="col">Od</th>
            <th scope="col">Do</th>
            <th scope="col">Kod Zasobu</th>
            <th scope="col">Właścieiel</th>
            <th scope="col">Typ bilansowania</th>
            <th scope="col">Moc min netto</th>
            <th scope="col">Moc maks netto</th>
            <th scope="col">Moc min brutto</th>
            <th scope="col">Moc maks brutto</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td></td>
            <td>{{ jadnTbl[0].param1 }}</td>
            <td>{{ jadnTbl[0].param2 }}</td>
            <td>{{ jadnTbl[0].param3 }}</td>
            <td>{{ jadnTbl[0].param4 }}</td>
            <td>{{ jadnTbl[0].param5 }}</td>
            <td>{{ jadnTbl[0].param6 }}</td>
            <td>{{ jadnTbl[0][fieldName][fieldName2] }}</td>
          </tr>
          <tr>
            <td></td>
            <td>{{ jadnTbl[0].param1 }}</td>
            <td>{{ jadnTbl[0].param2 }}</td>
            <td>{{ jadnTbl[0].param3 }}</td>
            <td>{{ jadnTbl[0].param4 }}</td>
            <td>{{ jadnTbl[0].param5 }}</td>
            <td>{{ jadnTbl[0].param6 }}</td>
          </tr>
          <tr>
            <td></td>
            <td>{{ jadnTbl[0].param1 }}</td>
            <td>{{ jadnTbl[0].param2 }}</td>
            <td>{{ jadnTbl[0].param3 }}</td>
            <td>{{ jadnTbl[0].param4 }}</td>
            <td>{{ jadnTbl[0].param5 }}</td>
            <td>{{ jadnTbl[0].param6 }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
