<div class="container">
  <br>
  <div class="row">
    <div class="col-sm">
    <div class="input-group input-group-sm mb-1">
      <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-sm1"
          >Data od*</span
        >
      </div>

      <input
        type="text"
        class="form-control"
        placeholder=""
        
        aria-label="Sizing example input"
        aria-describedby="inputGroup-sizing-sm1"
      />
    </div>
  </div>
  <div class="col-sm">
    <div class="input-group input-group-sm mb-1">
      <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-sm1"
          >Data do*</span
        >
      </div>

      <input
        type="text"
        class="form-control"
        placeholder=""
        
        aria-label="Sizing example input"
        aria-describedby="inputGroup-sizing-sm1"
      />
    </div>
  </div>
  <div class="col-sm">
      <button class="btn btn-sm btn-info">Pokaż</button>
  </div>
  <div class="col-sm">
    <button class="btn btn-sm btn-success">Dodaj nową Jednostkę</button>
</div>
  <br>
  <br>
  <br>
  <br>

  </div>
  <div class="row">
    <table class="table table-sm">
      <thead>
        <tr>
          <th scope="col">Nazwa</th>
          <th scope="col">Kod entsoe</th>
          <th scope="col">Typ</th>
          <th scope="col">Paliwo podstawowe</th>
          <th scope="col">Kod elektrowni</th>
          <th scope="col">Nazwa Elektrowni</th>
          <th scope="col">Od</th>
          <th scope="col">Do</th>
          <th scope="col">Kod Zasobu</th>
          <th scope="col">Właścieiel</th>
          <th scope="col">Typ bilansowania</th>
          <th scope="col">Moc min netto</th>
          <th scope="col">Moc maks netto</th>
          <th scope="col">Moc min brutto</th>
          <th scope="col">Moc maks brutto</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">3</th>
          <td>2022-05-30</td>
          <td>2050-05-31</td>
          <td>Adam Mazurek</td>
          <td>2022-05-30</td>
          <td></td>
        </tr>
        <tr class="table-success">
          <th scope="row">2</th>
          <td>2022-04-31</td>
          <td>2022-05-29</td>
          <td>Jan Kowalski</td>
          <td>2020-06-01</td>
          <td></td>
        </tr>
        <tr>
          <th scope="row">1</th>
          <td>2020-06-01</td>
          <td>2050-05-31</td>
          <td>Adam Mazurek</td>
          <td>2022-04-30</td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </div>


</div>