
input {
  font-size: 11px;
}

p {
  font-family: Lato;
}
div {
  background-color: lightblue;
}
#main-card{
  background-color: rgba(170, 245, 241, 0.637);
}
span {
  font-size: 11px;
  min-width: 100px;
  text-align: justify;
}
