<div class="card">
<div class="card-body" id="main-card">
  <h6 class="card-subtitle mb-2">Jednostka Fizyczna</h6>
    <div >
    <div class="row">
      <div class="col-md-7">
        <div class="card">
          <div class="card-body">
            <h6 class="card-subtitle mb-2">Szczegoły jednostki</h6>
            <div class="container">
              <div class="row">
                <div class="col-sm">
                      <div class="input-group input-group-sm mb-1">
                      <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-sm">Kod</span>
                      </div>
                      <input type="text" class="form-control" placeholder="BEL 2-01" [(ngModel)] = 'kod' aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
                    </div>
                    <div class="input-group input-group-sm mb-1">
                    <span class="input-group-text" id="basic-addon1">Nazwa</span>
                    <input type="text" class="form-control" placeholder="Bełchatów B01" [(ngModel)] = 'nazwa'  aria-label="" aria-describedby="basic-addon1">
                  </div>
                  <div class="input-group input-group-sm mb-1">
                  <span class="input-group-text" id="basic-addon1">Kod entsoe</span>
                  <input type="text" class="form-control" placeholder="Bełchatów B01" [(ngModel)] = 'kodentsoe'  aria-label="" aria-describedby="basic-addon1">
                </div>
                <div class="input-group input-group-sm mb-1">
                <span class="input-group-text" id="basic-addon1">Typ</span>
                <input type="text" class="form-control" placeholder="Bełchatów B01" [(ngModel)] = 'typ'  aria-label="" aria-describedby="basic-addon1">
              </div>
              <div class="input-group input-group-sm mb-1">
              <span class="input-group-text" id="basic-addon1">Paliwo</span>
              <input type="text" class="form-control" placeholder="Bełchatów B01" [(ngModel)] = 'paliwo'  aria-label="" aria-describedby="basic-addon1">
            </div>
                </div>
                <div class="col-sm">
                <div class="input-group input-group-sm mb-1">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="inputGroup-sizing-sm">Kod</span>
                </div>
                <input type="text" class="form-control" placeholder="BEL 2-01" [(ngModel)] = 'kod' aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
              </div>
              <div class="input-group input-group-sm mb-1">
              <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-sm">Kod</span>
              </div>
              <input type="text" class="form-control" placeholder="BEL 2-01" [(ngModel)] = 'kod' aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
            </div>
            <div class="input-group input-group-sm mb-1">
            <div class="input-group-prepend">
              <span class="input-group-text" id="inputGroup-sizing-sm">Kod</span>
            </div>
            <input type="text" class="form-control" placeholder="BEL 2-01" [(ngModel)] = 'kod' aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
          </div>
          <div class="input-group input-group-sm mb-1">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-sm">Kod</span>
          </div>
          <input type="text" class="form-control" placeholder="BEL 2-01" [(ngModel)] = '' aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
        </div>
                </div>
               
            
              </div>
            </div>

           
          </div>
          
      </div>
      
      
      </div>
    <div class="col-md-4">
      <div class="card">
      <div class="card-body">
        <h6 class="card-subtitle mb-2">Wersje</h6>
      </div>
      </div>
      </div>
  </div>

     
    </div>
    <div class="card">
    <div class="card-body">
      <h6 class="card-subtitle mb-2">Parametry</h6>
    </div>
  </div>
</div>
</div>
