<div class="card">
<div class="card-body" id="main-card">
  <h6 class="card-subtitle mb-2">Jednostka Fizyczna</h6>
    <div class="container">
    <div class="row">
      <div class="col-md-7">
        <div class="card">
          <div class="card-body">
            <h6 class="card-subtitle mb-2">Szczegoły jednostki</h6>
            <div class="container">
              <div class="row">
                <div class="col-sm">
                      <div class="input-group input-group-sm mb-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-sm">Kod</span>
                      </div>
                      <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
                    </div>
                    <div class="input-group input-group-sm mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="inputGroup-sizing-sm">Nazwa</span>
                    </div>
                    <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
                  </div>
                </div>
                <div class="col-sm">
                  <div class="form-floating mb-3">
                    <input
                      type="email"
                      id="input1"
                      class="form-control"
                      id="floatingInput"
                      placeholder="name@example.com"
                    />
                    <label class="form-control-sm" for="floatingInput"
                      >Kod</label
                    >
                  </div>
                </div>
                <div class="col-sm">
                  <div class="form-floating mb-3">
                    <input
                      type="email"
                      id="input1"
                      class="form-control"
                      id="floatingInput"
                      placeholder="name@example.com"
                    />
                    <label class="form-control-sm" for="floatingInput"
                      >Kod</label
                    >
                  </div>
                </div>
                <div class="col-sm">
                  <div class="form-floating mb-3">
                    <input
                      type="email"
                      id="input1"
                      class="form-control"
                      id="floatingInput"
                      placeholder="name@example.com"
                    />
                    <label class="form-control-sm" for="floatingInput"
                      >Kod</label
                    >
                  </div>
                </div>
              </div>
            </div>

            <div class="row g-2">
              <div class="col-md">
                <div class="form-floating">
                  <input
                    type="email"
                    class="form-control"
                    id="floatingInputGrid"
                    placeholder="name@example.com"
                    value="mdo@example.com"
                  />
                  <label for="floatingInputGrid">Email address</label>
                </div>
              </div>
              <div class="col-md">
                <div class="form-floating">
                  <select
                    class="form-select"
                    id="floatingSelectGrid"
                    aria-label="Floating label select example"
                  >
                    <option selected>Open this select menu</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                  </select>
                  <label for="floatingSelectGrid">Works with selects</label>
                </div>
              </div>
            </div>
          </div>
          
      </div>
      
      
      </div>
    <div class="col-md-4">
      <div class="card">
      <div class="card-body">
        <h6 class="card-subtitle mb-2">Wersje</h6>
      </div>
      </div>
      </div>
  </div>

     
    </div>
    <div class="card">
    <div class="card-body">
      <h6 class="card-subtitle mb-2">Parametry</h6>
    </div>
  </div>
</div>
</div>
