
input {
  font-size: 12px;
}

p {
  font-family: Lato;
}
div {
  background-color: lightblue;
}
#main-card{
  background-color: rgba(170, 245, 241, 0.637);
}
span {
  font-size: 12px;
  min-width: 120px;
  text-align: justify;
}
#update-btn {
  width: 120px;;
  text-align: center;
}

table {
  font-size: 12px;
}
