<div class="row">
  <div class="col-sm-1 menuLeft"></div>
  <div class="col">
    <div class="row menuUp">
      <div class="col-sm-5"></div>
      <div class="col-sm-4" style="color:white;">
        <div class="card scen">
          <div class="row">
            <div class="col-sm-4">
              <span class="scen_label"><strong>Scenariusz Adam </strong></span>
            </div>
            <div class="col-sm-7">
              <button class="btn btn-edit">Przełącz</button>&nbsp;
              <button class="btn btn-edit btn-new">Uruchom</button>&nbsp;
              <button class="btn btn-edit">Zamknij</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <app-jednostki-lista></app-jednostki-lista>
    <br />
    <br />
    <app-jednostki></app-jednostki>

    <br />
    <br />
    <app-magazyny></app-magazyny>
  </div>
</div>
