<div class="card">
  <div class="card-body" id="main-card">
    <h6 class="card-subtitle mb-2">Magazyn</h6>
    <div>
      <div class="row">
        <div class="col-md-5">
          <div class="card">
            <div class="card-body">
              <h6 class="card-subtitle mb-2">Szczegoły magazynu</h6>
              <div class="container">
                <div class="row">
                  <div class="col-sm">
                    <div class="input-group input-group-sm mb-1">
                      <div class="input-group-prepend">
                        <span
                          class="input-group-text"
                          id="inputGroup-sizing-sm1"
                          >Kod</span
                        >
                      </div>
                      <input
                        type="text"
                        class="form-control"
                        placeholder="BEL 2-01"
                        [(ngModel)]="selectedMagazyn.kod"
                        aria-label=""
                        aria-describedby="inputGroup-sizing-sm"
                      />
                    </div>
                  </div>
                </div>
                <div class="row">
                  <button
                    class="btn btn-success btn-sm"
                    id="update-btn"
                    styles="width:120px"
                  >
                    Aktualizuj
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-body">
              <h6 class="card-subtitle mb-2">Parametry</h6>
              <!--div class="container"-->

              <div class="row">
                <div class="col-sm">
                  <div class="input-group input-group-sm mb-1">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="inputGroup-sizing-sm1"
                        >Data od*</span
                      >
                    </div>

                    <input
                      type="text"
                      class="form-control"
                      placeholder=""
                      [(ngModel)]="selectedMagazyn.data_od"
                      aria-label="Sizing example input"
                      aria-describedby="inputGroup-sizing-sm1"
                    />
                  </div>
                </div>
                <div class="col-sm">
                  <div class="input-group input-group-sm mb-1">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="inputGroup-sizing-sm"
                        >Data do*</span
                      >
                    </div>
                    <input
                      type="text"
                      class="form-control"
                      placeholder=""
                      [(ngModel)]="selectedMagazyn.data_do"
                      aria-label="Sizing example input"
                      aria-describedby="inputGroup-sizing-sm"
                    />
                  </div>
                </div>
              </div>
              <br />
              <div class="row">
                <div class="col-sm">
                  <div class="input-group input-group-sm mb-1">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="inputGroup-sizing-sm"
                        >pojemnoscMWh</span
                      >
                    </div>
                    <input
                      type="text"
                      class="form-control"
                      placeholder="brak"
                      [(ngModel)]="selectedMagazyn.pojemnoscMWh"
                      aria-label="Sizing example input"
                      aria-describedby="inputGroup-sizing-sm"
                    />
                  </div>
                  <div class="input-group input-group-sm mb-1">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="inputGroup-sizing-sm"
                        >zbGornyPoziomEnMin</span
                      >
                    </div>
                    <input
                      type="text"
                      class="form-control"
                      placeholder="brak"
                      [(ngModel)]="selectedMagazyn.zbGornyPoziomEnMin"
                      aria-label="Sizing example input"
                      aria-describedby="inputGroup-sizing-sm"
                    />
                  </div>
                  <div class="input-group input-group-sm mb-1">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="inputGroup-sizing-sm"
                        >zbGornyPoziomEnMax</span
                      >
                    </div>
                    <input
                      type="text"
                      class="form-control"
                      placeholder="brak"
                      [(ngModel)]="selectedMagazyn.zbGornyPoziomEnMax"
                      aria-label="Sizing example input"
                      aria-describedby="inputGroup-sizing-sm"
                    />
                  </div>
                  <div class="input-group input-group-sm mb-1">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="inputGroup-sizing-sm"
                        >zbGornyPojemnoscMax</span
                      >
                    </div>
                    <input
                      type="text"
                      class="form-control"
                      placeholder="brak"
                      [(ngModel)]="selectedMagazyn.zbGornyPojemnoscMax"
                      aria-label="Sizing example input"
                      aria-describedby="inputGroup-sizing-sm"
                    />
                  </div>
                  <div class="input-group input-group-sm mb-1">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="inputGroup-sizing-sm"
                        >zbDolnyPoziomEnMin</span
                      >
                    </div>
                    <input
                      type="text"
                      class="form-control"
                      placeholder="brak"
                      [(ngModel)]="selectedMagazyn.zbDolnyPoziomEnMin"
                      aria-label="Sizing example input"
                      aria-describedby="inputGroup-sizing-sm"
                    />
                  </div>
                </div>
                <div class="col-sm">
                  <div class="input-group input-group-sm mb-1">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="inputGroup-sizing-sm"
                        >zbDolnyPoziomEnMax</span
                      >
                    </div>
                    <input
                      type="text"
                      class="form-control"
                      placeholder="brak"
                      [(ngModel)]="selectedMagazyn.zbDolnyPoziomEnMax"
                      aria-label="Sizing example input"
                      aria-describedby="inputGroup-sizing-sm"
                    />
                  </div>
                  <div class="input-group input-group-sm mb-1">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="inputGroup-sizing-sm"
                        >zbDolnyPoziomEnMax</span
                      >
                    </div>
                    <input
                      type="text"
                      class="form-control"
                      placeholder="brak"
                      [(ngModel)]="selectedMagazyn.zbDolnyPoziomEnMax"
                      aria-label="Sizing example input"
                      aria-describedby="inputGroup-sizing-sm"
                    />
                  </div>
                  <div class="input-group input-group-sm mb-1">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="inputGroup-sizing-sm"
                        >minIlosc</span
                      >
                    </div>
                    <input
                      type="text"
                      class="form-control"
                      placeholder="brak"
                      [(ngModel)]="selectedMagazyn.minIlosc"
                      aria-label="Sizing example input"
                      aria-describedby="inputGroup-sizing-sm"
                    />
                  </div>
                  <div class="input-group input-group-sm mb-1">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="inputGroup-sizing-sm"
                        >maxIlosc</span
                      >
                    </div>
                    <input
                      type="text"
                      class="form-control"
                      placeholder="brak"
                      [(ngModel)]="selectedMagazyn.maxIlosc"
                      aria-label="Sizing example input"
                      aria-describedby="inputGroup-sizing-sm"
                    />
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm">
                  <button
                    class="btn btn-success btn-sm"
                    styles="width:120px"
                    (click)="saveVersion()"
                  >
                    Zapisz
                  </button>
                </div>
                <div class="col-sm">
                  <button class="btn btn-primary btn-sm" styles="width:120px">
                    Anuluj
                  </button>
                </div>
              </div>
              <!--/div-->

              <!--div class="input-group mb-3">
                <label class="input-group-text" for="inputGroupSelect01"
                  >Options</label
                >
                <select class="form-select" id="inputGroupSelect01">
                  <option selected>Choose...</option>
                  <option value="1">One</option>
                  <option value="2">Two</option>
                  <option value="3">Three</option>
                </select>
              </div-->
            </div>
          </div>
        </div>
        <div class="col-md-7">
          <div class="card">
            <div class="card-body">
              <h6 class="card-subtitle mb-2">Wersje</h6>
              <div class="row">
                <div class="col-sm">
                  <button class="btn btn-success btn-sm" (click)="nowaWersja()">
                    Dodaj nową wersję
                  </button>
                </div>
              </div>
              <table class="table">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Data od</th>
                    <th scope="col">Data do</th>
                    <th scope="col">Autor</th>
                    <th scope="col">Data modyfikacji</th>
                    <th scope="col">Akcje</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let row of magazynyTbl; index as i">
                    <td>{{ magazynyTbl.length - i }}</td>
                    <td>{{ row.data_od }}</td>
                    <td>{{ row.data_do }}</td>
                    <td>{{ row.autor }}</td>
                    <td>{{ row.data_mod }}</td>
                    <td></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
